* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 20px 100px;
}

.logo {
  font-family: 'Poppins';
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 10px 17px;
  list-style: none;
}

.nav-links li a {
  color: #777;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-size: 12px;
  text-decoration: none;
}

.logo-box {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 0px 10px;
  background-color: #8490ff;
}

.ham {
  display: none;
  position: relative;
  cursor: pointer;
  right: 10px;
}

.ham-bars {
  margin: 2px 0px;
  width: 25px;
  height: 1px;
  border: 2px solid #222;
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: none;
    position: fixed;
    flex-direction: column;
    border: 1px solid red;
    top: 70px;
    background-color: #f8f9fe;
    height: 100vh;
    width: 100%;
    padding: 20px;
    left: 0;
    z-index: 3;
  }

  .nav-links li {
    width: 100%;
  }

  .nav {
    padding: 20px 10px;
  }

  .ham {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  height: auto;
  width: 100%;
  background-color: #f8f9fe;
}

.hero-container {
  display: flex;
  height: auto;
  align-items: center;
  padding: 120px 100px 0px 100px;
}

.banner-right {
  width: 100%;
  max-width: 100%;
}

.banner-left {
  width: 100%;
  position: relative;
  max-width: 100%;
  /* border: 1px solid red; */
}

.banner-img {
  max-width: 450px;
  /* border: 1px solid red; */
  height: auto;
}

.banner-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.banner-left {
  font-family: 'Poppins';
}

.banner-left h1 {
  font-size: 70px;
  font-weight: 600;
}

.banner-left h6 {
  font-family: 'Poppins', sans-serif;
  color: #222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  font-size: 15px;
}

.banner-left p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
}

.banner-btn {
  /* background: #8490ff; */
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .hero-container {
    flex-direction: column;
    padding: 120px 20px 0px 20px;
  }

  .banner-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ======================= About Section ======== */
.about {
  height: auto;
  width: 100%;
  border: 1px solid #f8f9fe;
}

.about-container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 110px 20px;
  justify-content: center;
  align-items: center;
}

.about-container > div {
  height: auto;
  margin: 0px 50px;
  /* width: 500px; */
  max-width: 500px;
  /* border: 1px solid #F8F9FE; */
}

.home-about-right {
  font-family: 'Poppins';
}

.home-about-right h1 {
  text-transform: uppercase;
  color: #212529;
  padding-top: 10px;
  font-weight: 600;
}
.home-about-left {
  box-shadow: 10px 10px 10px 0px #f8f9fe;
}

.home-about-right h6 {
  /* text-transform: uppercase; */
  font-weight: 100;
  color: #222222;
  font-size: 17px;
}

.home-about-right p {
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  color: #777;
  padding: 13px 0px;
}

.about-container > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 789px) {
  .about-container {
    flex-direction: column-reverse;
    padding: 50px 20px;
  }

  .about-container > div {
    margin: 10px 0px;
  }
}

/* ===================== My Offered Services ============== */
.services {
  height: auto;
  width: 100%;
  border: 1px solid #f8f9fe;
}
.title {
  max-width: 46%;
  /* width: 46%; */
  border: 1px solid #f8f9fe;
  margin: auto;
  font-family: 'Poppins';
  text-align: center;
}
.title h1 {
  color: #222;
  font-weight: 600;
}
.title p {
  font-weight: 100;
  color: #777;
  font-size: 14px;
  line-height: 24px;
  padding-top: 12px;
}
.service-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px;
}
.service-row > div {
  max-width: 350px;
  height: 340px;
  display: flex;
  font-family: 'Poppins';
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  /* border: 1px solid  #F8F9FE; */
  box-shadow: 1px 1px 1px 1px #f8f9fe;
  border-radius: 10px;
}
.service-row div:hover {
  color: #62bdfc;
  cursor: pointer;
}
.service-row > div h1 {
  font-weight: 600;
  padding-top: 12px;
  font-size: 20px;
}
.service-row p {
  font-weight: 300;
  font-family: 'Poppins';
  font-size: 14px;
  padding-top: 10px;
  color: #777;
}
.box {
  height: 40px;
  width: 40px;
  border: 1px solid #777;
  justify-content: center;
  display: flex;
  align-items: center;
}

.counter {
  height: 50vh;
  width: 100%;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.portfolio {
  height: 100vh;
  width: 100%;
  border: 1px solid #f8f9fe;
}

/* css contribution */
